body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: blue;
}
.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MuiButton-label {
  color: #3f51b5;
}
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic {
  transform: none;
}
